
h1{
    color: lightcoral;
    border: 10px solid dimgray;
    background-color: dimgrey;
}
body{
    background-color: aliceblue;
}
img{
    border: 5px solid black;
    border-radius: 40px;
}
p{
    font-family: comic sans ms;
    font-weight: italic;
}
ol,ul{
    font-family: comic sans ms;
}

.menu{
  display:flex;
  justify-content: space-between;
  background-color: black;
  font-size: 20px;
  font-family: sans-serif;
  font-weight: 400;
  color:aqua
}
body{
}
background-color: azure;